@page "/Learn_Blazor/parentComponent"

@inject NavigationManager _NavigationManager

<h3>ParentComponent</h3>


<CascadingValue Value="messageForGrandChild" Name="Message">
    <CascadingValue Value="luckyNumber" Name="Number">
        <_ChildComponent @ref=childComponent OnButtonClick="ShowMessage" Title="This title is passed as a parameter from parent component">
            <ChildSomeContent>
                Some text between the tags from (ChildSomeContent) the parent component!!

            </ChildSomeContent>
            <ChildContent>
                Some text inside ChildContent from the parent component!!
                <br />
                <p class="text-primary">Some Other Text</p>
            </ChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>@messageText</p>

<p><button @onclick="NavigateToQueryParam" class="btn btn-primary">Navigate to Query parameter</button></p>

<div class="row">
    <button class="btn btn-success" style="width:auto" @onclick="()=>childComponent.ToastrSuccess()">Show Alert</button>
</div>

@code {
    private _ChildComponent childComponent;

    public string messageText = string.Empty;

    private string messageForGrandChild = "This message is passed from Parent Component to Grand Child";

    private int luckyNumber = 7;

    private void ShowMessage()
    {
        messageText = "Button inside child component was clicked";
    }

    private void NavigateToQueryParam()
    {
        //some calculation
        _NavigationManager.NavigateTo("learnRouting?Param1=Learn&Param2=Blazor");
    }

}
