@page "/Learn_Blazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as a parameter from parent component">
    <ChildSomeContent>Some text between the tags from the parent component!!</ChildSomeContent>
    <ChildContent>
        Some text inside child content from the parent component!!
        <br />
        <p class="text-primary">Some Other Text</p>
    </ChildContent>
</_ChildComponent>

<p>@messageText</p>

<_ChildComponent Title="This title is passed as a parameter from parent component">
    
</_ChildComponent>

@code {
    public string messageText = string.Empty;

    private void ShowMessage()
    {
        messageText = "Button inside child component was clicked";
    }

}
